#app-mount .wrapper-3t9DeA[style*="32"] rect[fill="black"]:not([y="2.5"]):not([mask="url(#svg-mask-status-online-mobile)"]) {
  fill: transparent;
}

#app-mount .wrapper-3t9DeA svg {
  overflow: visible;
}

#app-mount .wrapper-3t9DeA rect:not(.pointerEvents-2zdfdO) {
  transition: all 0.25s;
}

#app-mount .wrapper-3t9DeA[style*="32"] rect[x="22"]:not([mask="url(#svg-mask-status-online-mobile)"]) {
  width: 12px;
  height: 12px;
  mask: none;
  x: 21;
  y: 21;
  rx: 6;
  ry: 6;
}

#app-mount .wrapper-3t9DeA[style*="32"] rect[fill="white"]:not([width="25"]):not([height="15"]) {
  width: 12px;
  height: 12px;
  x: 6.5;
  y: 4;
  rx: 6;
  ry: 6;
}

#app-mount .wrapper-3t9DeA[style*="32"] rect[width="25"]:not([y="5"]) {
  height: 22px;
  width: 32px;
  x: -4;
  y: -3;
}

#app-mount .wrapper-3t9DeA[style*="32"] rect[rx="1.875"] {
  width: 12px;
  height: 18px;
  y: -1;
  x: 6.5;
}

#app-mount .wrapper-3t9DeA[style*="32"] rect[height="7.5"][width="7.5"] {
  width: 9px;
  height: 9px;
  x: 8;
  y: 2;
}

#app-mount .wrapper-3t9DeA[style*="32"] circle[cy="12.5"] {
  cy: 11;
  cx: 10;
  transform: scale(1.26);
}

#app-mount .wrapper-3t9DeA[style*="32"] rect[mask="url(#svg-mask-status-online-mobile)"]:not([color="black"]):not([fill="black"]):not([fill="white"]) {
  width: 12px;
  height: 18px;
  x: 21;
  y: 16;
}

#app-mount .wrapper-3t9DeA[style*="32"] rect[height="10"][x="0"] {
  width: 26px;
  height: 11px;
  x: -0.5;
  y: 4;
}

#app-mount .dots-3Bkt3k {
  transform: scale(1.1);
  transform-origin: center;
}

#app-mount .wrapper-3t9DeA[style*="80"] svg > svg > rect:not([mask="url(#svg-mask-status-online-mobile)"]):not([y="52"]):not([fill*="hsl(139, "]) {
  x: 9px !important;
  y: 5px !important;
}

#app-mount .wrapper-3t9DeA[style*="80"] rect[mask="url(#svg-mask-status-online-mobile)"]:not([color="black"]):not([fill="black"]):not([fill="white"]) {
  width: 22px;
  height: 32px;
  x: 56.5;
  y: 48.5;
}

#app-mount .wrapper-3t9DeA[style*="80"] rect:not([mask="url(#svg-mask-status-online-mobile)"]):not([color="black"]):not([fill="black"]):not([fill="white"]):not([y="52"]):not([fill*="hsl(139, "]) {
  mask: none;
  width: 22px;
  height: 22px;
  x: 57;
  y: 57;
  rx: 50;
  ry: 50;
}

#app-mount .wrapper-3t9DeA[style*="80"] rect[height="24"][fill*="hsl(139, "] {
  height: 36px;
  width: 26px;
  x: 7;
  y: -6;
}

#app-mount .wrapper-3t9DeA[style*="80"] rect[height="16"] {
  width: 22px;
  height: 22px;
  rx: 50;
  ry: 50;
}

#app-mount .wrapper-3t9DeA[style*="80"] rect[height="16"][y="60"] {
  x: 57;
  y: 57;
}

#app-mount .wrapper-3t9DeA[style*="80"] rect[height="16"]:not([y="60"]) {
  x: 9;
  y: 5;
}

#app-mount .wrapper-3t9DeA[style*="80"] rect[height="24"] {
  width: 22px;
  height: 32px;
  x: 8.8;
  y: -3;
}

#app-mount .wrapper-3t9DeA[style*="80"] rect[ry="0"]:not([y="16"]) {
  width: 17px;
  height: 17px;
  x: 11.4;
  y: 2;
}

#app-mount .wrapper-3t9DeA[style*="80"] circle[r="2"] {
  transform: scale(1.3);
  cx: 15.5;
  cy: 18.8;
}

#app-mount .wrapper-3t9DeA[style*="120"] svg > svg > rect:not([mask="url(#svg-mask-status-online-mobile)"]):not([fill*="hsl(139, "]) {
  x: 14px !important;
  y: 7.6px !important;
}

#app-mount .wrapper-3t9DeA[style*="120"] rect[mask="url(#svg-mask-status-online-mobile)"]:not([color="black"]):not([fill="black"]):not([fill="white"]) {
  width: 32px;
  height: 47px;
  x: 83.5;
  y: 72;
}

#app-mount .wrapper-3t9DeA[style*="120"] rect:not([mask="url(#svg-mask-status-online-mobile)"]):not([color="black"]):not([fill="black"]):not([fill="white"]):not([fill*="hsl(139, "]) {
  mask: none;
  width: 32px;
  height: 32px;
  x: 84;
  y: 84;
  rx: 50;
  ry: 50;
}

#app-mount .wrapper-3t9DeA[style*="120"] rect[y="12"] {
  width: 32px;
  height: 32px;
  x: 14;
  y: 7.5;
  rx: 50;
  ry: 50;
}

#app-mount .wrapper-3t9DeA[style*="120"] rect[y="88"] {
  width: 32px;
  height: 32px;
  x: 84;
  y: 84;
  rx: 50;
  ry: 50;
}

#app-mount .wrapper-3t9DeA[style*="120"] rect[height="36"][fill*="hsl(139, "] {
  height: 54px;
  y: -8;
}

#app-mount .wrapper-3t9DeA[style*="120"] rect[height="36"] {
  width: 32px;
  height: 47px;
  x: 13.5;
  y: -4;
  rx: 6.5;
  ry: 6.5;
}

#app-mount .wrapper-3t9DeA[style*="120"] rect[y="6"] {
  width: 24px;
  height: 24px;
  x: 17.5;
  y: 3;
}

#app-mount .wrapper-3t9DeA[style*="120"] circle[r="3"] {
  transform: scale(1.28);
  cx: 23;
  cy: 27;
}

#app-mount .wrapper-3t9DeA[style*="24"] rect[x="16"]:not([mask="url(#svg-mask-status-online-mobile)"]), #app-mount .wrapper-3t9DeA[style*="40"] rect[x="28"]:not([mask="url(#svg-mask-status-online-mobile)"]) {
  mask: none;
  rx: 7;
  ry: 7;
}

#app-mount .wrapper-3t9DeA[style*="24"] rect[x="16"]:not([mask="url(#svg-mask-status-online-mobile)"]) {
  width: 10px;
  height: 10px;
  x: 15;
  y: 15;
}

#app-mount .wrapper-3t9DeA[style*="40"] rect[fill="black"]:not([y="3"]) {
  fill: transparent;
}

#app-mount .wrapper-3t9DeA[style*="40"] rect[x="28"]:not([mask="url(#svg-mask-status-online-mobile)"]) {
  width: 14px;
  height: 14px;
  x: 27;
  y: 27;
}

#app-mount .wrapper-3t9DeA[style*="40"] rect[fill="white"]:not([y="0"]):not([width="30"]) {
  width: 14px;
  height: 14px;
  x: 8;
  y: 5;
  rx: 7;
  ry: 7;
}

#app-mount .wrapper-3t9DeA[style*="40"] rect[mask="url(#svg-mask-status-online-mobile)"] {
  width: 14px;
  height: 21px;
  x: 27;
  y: 20.6;
}

#app-mount .wrapper-3t9DeA[style*="40"] rect[fill="white"]:not([rx="6"]) {
  width: 14px;
  height: 21px;
  x: 7.7;
  y: -1.4;
}

#app-mount .wrapper-3t9DeA[style*="40"] rect[width="30"]:not([height="12"]) {
  height: 22px;
  y: -2;
}

#app-mount .wrapper-3t9DeA[style*="40"] rect[rx="0"] {
  transform: scale(1.111);
  x: 8.8;
  y: 2;
}

#app-mount .wrapper-3t9DeA[style*="40"] circle[cy="15"] {
  transform: scale(1.332);
  cx: 11;
  cy: 12;
}

.userInfo-2zN2z8 {
  height: 37px;
}

/* Typing users */
#app-mount .wrapper-3t9DeA[style*="16"] rect:not([mask="url(#svg-mask-status-online-mobile)"]) {
  mask: none;
  rx: 4;
  ry: 4;
  width: 7px;
  height: 7px;
  x: 9.5;
  y: 9.5;
}
