/* status */
#app-mount .wrapper-3t9DeA[style*="32"] rect[fill="black"]:not([y="2.5"]):not([mask="url(#svg-mask-status-online-mobile)"]) {
    fill: transparent;
}

#app-mount .wrapper-3t9DeA[style*="32"] rect[x="22"]:not([mask="url(#svg-mask-status-online-mobile)"]) {
    mask: none;
    rx: 6;
    ry: 6;
}

#app-mount .wrapper-3t9DeA[style*="80"] svg > svg > rect:not([mask="url(#svg-mask-status-online-mobile)"]) {
    x: 9px !important;
    y: 5px !important;
}

#app-mount .wrapper-3t9DeA[style*="80"] rect[mask="url(#svg-mask-status-online-mobile)"]:not([color="black"]):not([fill="black"]):not([fill="white"]) {
    width: 22px;
    height: 33px;
    x: 57;
    y: 49;
}

#app-mount .wrapper-3t9DeA svg {
    overflow: visible;
}

#app-mount .wrapper-3t9DeA[style*="80"] rect:not([mask="url(#svg-mask-status-online-mobile)"]):not([color="black"]):not([fill="black"]):not([fill="white"]) {
    mask: none;
    width: 22px;
    height: 22px;
    x: 57;
    y: 57;
    rx: 50;
    ry: 50;
}

#app-mount .wrapper-3t9DeA[style*="120"] svg > svg > rect:not([mask="url(#svg-mask-status-online-mobile)"]) {
    x: 15px !important;
    y: 8.5px !important;
}

#app-mount .wrapper-3t9DeA[style*="120"] rect[mask="url(#svg-mask-status-online-mobile)"]:not([color="black"]):not([fill="black"]):not([fill="white"]) {
    width: 30px;
    height: 45px;
    x: 85;
    y: 72;
}

#app-mount .wrapper-3t9DeA svg {
    overflow: visible;
}

#app-mount .wrapper-3t9DeA[style*="120"] rect:not([mask="url(#svg-mask-status-online-mobile)"]):not([color="black"]):not([fill="black"]):not([fill="white"]) {
    mask: none;
    width: 30px;
    height: 30px;
    x: 85;
    y: 85;
    rx: 50;
    ry: 50;
}

#app-mount .wrapper-3t9DeA[style*="24"] rect[x="16"]:not([mask="url(#svg-mask-status-online-mobile)"]), #app-mount .wrapper-3t9DeA[style*="40"] rect[x="28"]:not([mask="url(#svg-mask-status-online-mobile)"]) {
    mask: none;
    rx: 6;
    ry: 6;
}
