/* status */
#app-mount .wrapper-3t9DeA[style*="32"] rect[fill="black"]:not([y="2.5"]):not([mask="url(#svg-mask-status-online-mobile)"]) {
    fill: transparent;
}

#app-mount .wrapper-3t9DeA[style*="32"] rect[x="22"]:not([mask="url(#svg-mask-status-online-mobile)"]) {
    width: 12px;
    height: 12px;
    mask: none;
    x: 21;
    y: 21;
    rx: 6;
    ry: 6;
}

#app-mount .wrapper-3t9DeA[style*="32"] rect[fill="white"]:not([width="25"]):not([height="15"]) {
    width: 12px;
    height: 12px;
    x: 6.5;
    y: 4;
    rx: 6;
    ry: 6;
}

#app-mount .wrapper-3t9DeA[style*="32"] rect[width="25"]:not([y="5"]) {
    height: 18px;
    width: 30px;
    x: -4;
    y: -1;
}

#app-mount .wrapper-3t9DeA[style*="32"] rect[rx="1.875"] {
    rx: 2.87;
    ry: 2.87;
    width: 13px;
    height: 18px;
    y: -1;
    x: 6;
}

#app-mount .wrapper-3t9DeA[style*="32"] rect[height="7.5"][width="7.5"] {
    width: 9px;
    height: 9px;
    x: 8;
    y: 2;
}

#app-mount .wrapper-3t9DeA[style*="32"] circle[cy="12.5"] {
    cy: 11.7;
    cx: 10.5;
    transform: scale(1.2);
}

#app-mount .wrapper-3t9DeA[style*="32"] rect[mask="url(#svg-mask-status-online-mobile)"]:not([color="black"]):not([fill="black"]):not([fill="white"]) {
    width: 12px;
    height: 18px;
    x: 21;
    y: 16;
}

#app-mount .wrapper-3t9DeA[style*="80"] svg > svg > rect:not([mask="url(#svg-mask-status-online-mobile)"]) {
    x: 9px !important;
    y: 5px !important;
}

#app-mount .wrapper-3t9DeA[style*="80"] rect[mask="url(#svg-mask-status-online-mobile)"]:not([color="black"]):not([fill="black"]):not([fill="white"]) {
    width: 22px;
    height: 33px;
    x: 57;
    y: 49;
}

#app-mount .wrapper-3t9DeA svg {
    overflow: visible;
}

#app-mount .wrapper-3t9DeA[style*="80"] rect:not([mask="url(#svg-mask-status-online-mobile)"]):not([color="black"]):not([fill="black"]):not([fill="white"]) {
    mask: none;
    width: 22px;
    height: 22px;
    x: 57;
    y: 57;
    rx: 50;
    ry: 50;
}

#app-mount .wrapper-3t9DeA[style*="120"] svg > svg > rect:not([mask="url(#svg-mask-status-online-mobile)"]) {
    x: 15px !important;
    y: 8.5px !important;
}

#app-mount .wrapper-3t9DeA[style*="120"] rect[mask="url(#svg-mask-status-online-mobile)"]:not([color="black"]):not([fill="black"]):not([fill="white"]) {
    width: 33px;
    height: 49.5px;
    x: 83;
    y: 71;
}

#app-mount .wrapper-3t9DeA[style*="120"] rect:not([mask="url(#svg-mask-status-online-mobile)"]):not([color="black"]):not([fill="black"]):not([fill="white"]) {
    mask: none;
    width: 30px;
    height: 30px;
    x: 85;
    y: 85;
    rx: 50;
    ry: 50;
}

#app-mount .wrapper-3t9DeA[style*="24"] rect[x="16"]:not([mask="url(#svg-mask-status-online-mobile)"]), #app-mount .wrapper-3t9DeA[style*="40"] rect[x="28"]:not([mask="url(#svg-mask-status-online-mobile)"]) {
    mask: none;
    rx: 6;
    ry: 6;
}

#app-mount .wrapper-3t9DeA[style*="24"] rect[x="16"]:not([mask="url(#svg-mask-status-online-mobile)"]) {
    width: 10px;
    height: 10px;
    x: 15;
    y: 15;
}

#app-mount .wrapper-3t9DeA[style*="40"] rect[x="28"]:not([mask="url(#svg-mask-status-online-mobile)"]) {
    width: 14px;
    height: 14px;
    x: 27;
    y: 27;
}
